<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--开启驼峰命名规则  -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"></setting>
    </settings>
    <!--别名的设置  -->
    <typeAliases>
        <package name="org.vgfstudio.ssm_crud.bean" />
    </typeAliases>

    <!--引入插件  -->
    <plugins>
        <!-- com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 请求页面的合理化，即使请求一个不存在的页面，也不会出现意外的页码 -->
            <property name="reasonable" value="true"/>

        </plugin>
    </plugins>

</configuration>
